<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsTimbradoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsTimbradoSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://timbradopruebas.stagefacturador.com/timbrado.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsTimbradoSoap"
                contract="WsFacturador.wsTimbradoSoap" name="wsTimbradoSoap" />
        </client>
    </system.serviceModel>
</configuration>